body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #081951;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeline-item {
    background-color: #adb4aa;
    border-radius: 8px;
    border: #000000 solid 2px;
    margin: 10px;
    padding: 20px;
    width: 200px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    flex: 1 1 200px; 
}

.timeline-icon {
    background-color: #d8d3db;
    border-radius: 50%;
    border: #000000 solid 2px;
    width: 120px; 
    height: 120px;
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-icon img {
    width: 70%;
    height: 70%;
    object-fit: contain; 
}

#icon-0 img {
    content: url('../images/Date.svg');
}

#icon-1 img {
    content: url('../images/Anketa.svg');
}

#icon-2 img {
    content: url('../images/Insurance.svg');
}

#icon-3 img {
    content: url('../images/Study.svg');
}

#icon-4 img {
    content: url('../images/Accommodation.svg');
}

#icon-5 img {
    content: url('../images/Money.svg');
}

#icon-6 img {
    content: url('../images/Stamp.svg');
}

#icon-7 img {
    content: url('../images/Camera.svg');
}

#icon-8 img {
    content: url('../images/Pass.svg');
}

.timeline-item h2 {
    color: #f15a22;
    margin-top: 70px; 
}

.timeline-item p {
    color: #333;
}

@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: center;
    }

    .timeline-item:not(:last-child)::after {
        width: 2px;
        height: 40px;
        left: 50%;
        bottom: -40px;
    }
}

footer {
    background-color: #081951;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer .credit, footer .inspiration {
    margin: 10px 0;
}

footer .inspiration a {
    color: white;
    text-decoration: underline;
}
